/*global selctors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #bee2e7;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-image: linear-gradient(15deg, #9de8f1 60%, #000000 80% );
    border-bottom: 1px solid rgb(129, 129, 219);
    box-shadow: 0px 2px 4px rgba(65, 64, 64, 0.76);
}

nav{
    padding: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li{
    padding:  5px 15px;
    margin: 0px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #bee2e7;
    transform: scale(0.9);
    transition: ease-in-out 1s;
    
}

a{
    color: rgb(13, 31, 112);
    letter-spacing: 1px;
    text-decoration: none;
}

.btn1{
    padding: 15px 40px;
    background-color: rgb(26, 72, 172);
    color: rgb(255, 255, 255);
    border-color: rgb(219, 220, 228);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    box-shadow: 2px 2px 8px rgb(25, 1, 34);
}

.btn{
    box-shadow: 2px 2px 8px rgb(25, 1, 34);
    background-color: rgb(26, 72, 172);
}

h1 span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(26, 72, 172);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-left: 15px;
    color:rgb(26, 72, 172);
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    
}
section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
#main-container{
    display: flex;
    justify-content: space-between;
    padding: 20px ;
}
#section1{
    padding: 50px ;
    font-size: 25px;
}
img{
   height: 50%;
   width: 50%;
}
#container{
    background-color: #dff3f2;

}
h5{
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000
}
a:hover{
    color: rgb(9, 145, 39);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover{
    background-color: rgb(26, 47, 236);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#click{
    width: 200px;
    margin: 40px 40px;
    width: 340px;
    height: 50px;
}
strong{
    color: rgb(26, 72, 172);
}
hr{
    background-color:rgba(10, 51, 141, 0.664); 
    height: 2px;
    border: none;
    border-radius: 15px;
    width: 50px;
    margin-left: 100px;
    margin-bottom: 3px;
}
@media (max-width:640px){
    #main-container{
        display: flex;
        flex-direction: column;
        padding: 20px 20px 120px ;
    }
    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: auto;
    }
    nav,h1{
        margin-bottom: 20px;
    }
    #section1{
        font-size: 15px;
        margin-left: -50px;
    }
    h5,h1{
        white-space: nowrap;
    }
    .name{
        font-size: 30px;
    }
    img{
        height: 100%;
        width: 100%;
        display: none;
    }
    button{
        color: aqua;
    }
}